
* {
    font:		"JetBrains Mono Nerd Font 9";
    background:     	#282828FF;
    background-alt: 	#1B1B1BFF;
    foreground:     	#EBDBB2FF;
    blue:       	#7DAEA3FF;
    orange:             #D8A657FF;
    gregithuben:         	#A9B665FF;
    red:         	#EA6962FF;
    aqua:		#89b482FF;
}
